.cardIcon {
  width: 1296px;
  height: 420px;
  position: relative;
  border-radius: var(--br-sm);
  display: none;
  max-width: 100%;
}
.sales {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.salesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.monthSelector {
  height: 28px;
  width: 104px;
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  z-index: 1;
}
.dealsChart {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rectangle {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray-300);
  border: 0.6px solid var(--color-lightgray);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 1;
}
.location,
.productName {
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 2;
}
.location {
  min-width: 44px;
}
.tableHeaderLabel {
  width: 105px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.dateTime {
  position: relative;
  display: inline-block;
  min-width: 52px;
  z-index: 2;
}
.tableHeaderLabel1 {
  width: 113px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.piece {
  position: relative;
  display: inline-block;
  min-width: 30px;
  z-index: 2;
}
.tableHeaderLabel2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.amount {
  position: relative;
  display: inline-block;
  min-width: 40px;
  z-index: 2;
}
.tableHeaderLabel3 {
  width: 64px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.status {
  position: relative;
  display: inline-block;
  min-width: 43px;
  z-index: 2;
}
.tableHeader {
  align-self: stretch;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-57xl) var(--padding-smi)
    var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
  color: var(--color-white);
}
.appleWatch,
.imageIcon {
  position: relative;
  z-index: 1;
}
.imageIcon {
  height: 36px;
  width: 36px;
  object-fit: cover;
}
.appleWatch {
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 85px;
}
.appleWatchWrapper,
.productImageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.productImageContainer {
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 0;
  gap: var(--gap-base);
}
.marjolaineLand {
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
  z-index: 1;
}
.pWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl) 0 0;
}
.productStatusIcon {
  position: relative;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 26px;
  z-index: 1;
}
.productStatusIconWrapper {
  width: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.productDeliveryIcon {
  position: relative;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 54px;
  white-space: nowrap;
  z-index: 1;
}
.productDeliveryIconWrapper {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.delivered {
  align-self: stretch;
  height: 27px;
  z-index: 1;
}
.deliveredWrapper {
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.productImageContainerParent,
.productRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.productImageContainerParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.productRow {
  width: 1208px;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  color: var(--color-gray-400);
}
.productTableChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
  z-index: 1;
}
.imageIcon1 {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: cover;
}
.appleWatch1 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
}
.appleWatchContainer,
.imageParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.appleWatchContainer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.imageParent {
  width: 154px;
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.marjolaineLand1 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  mix-blend-mode: normal;
  z-index: 1;
}
.marjolaineLandContainer,
.pContainer {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.pContainer {
  width: 172px;
  padding: var(--padding-4xs) var(--padding-xl) 0 0;
}
.div,
.div1 {
  width: 26px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  mix-blend-mode: normal;
  z-index: 1;
}
.div1 {
  width: 54px;
  white-space: nowrap;
}
.rectangle1 {
  height: 27px;
  width: 93px;
  position: relative;
  border-radius: var(--br-sm-5);
  background-color: var(--color-goldenrod);
  display: none;
}
.delivered1,
.pending {
  align-self: stretch;
  z-index: 1;
}
.pending {
  flex: 1;
  position: relative;
}
.delivered1 {
  height: 27px;
  border-radius: var(--br-sm-5);
  background-color: var(--color-goldenrod);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-lgi) var(--padding-9xs)
    var(--padding-xl);
}
.delivered1,
.deliveredContainer,
.productRow1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.deliveredContainer {
  width: 93px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  text-align: center;
  color: var(--color-white);
}
.productRow1 {
  width: 1208px;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  max-width: 100%;
}
.rectangle2 {
  height: 27px;
  width: 93px;
  position: relative;
  border-radius: var(--br-sm-5);
  background-color: var(--color-tomato);
  display: none;
}
.dealsDetails,
.delivered2,
.deliveredFrame,
.productTable {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.delivered2 {
  align-self: stretch;
  height: 27px;
  border-radius: var(--br-sm-5);
  background-color: var(--color-tomato);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-mid) var(--padding-9xs)
    var(--padding-lgi);
  box-sizing: border-box;
  z-index: 1;
}
.dealsDetails,
.deliveredFrame,
.productTable {
  flex-direction: column;
}
.deliveredFrame {
  width: 93px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  color: var(--color-white);
}
.dealsDetails,
.productTable {
  align-self: stretch;
  gap: var(--gap-3xl);
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.dealsDetails {
  border-radius: var(--br-sm);
  background-color: var(--color-darkslategray-200);
  border: 0 solid var(--color-darkslategray-100);
  box-sizing: border-box;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-18xl);
  gap: var(--gap-13xl);
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 1200px) {
  .tableHeader {
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .productImageContainerParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .dealsDetails {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .sales {
    font-size: var(--font-size-lgi);
    line-height: 16px;
  }
  .dealsChart {
    flex-wrap: wrap;
  }
  .dealsDetails {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
}
